/* 
    Document   : d3Styles
    Created on : Jan 28, 2014, 2:53:05 AM
    Author     : rajin
    Description:
        Purpose of the stylesheet follows.
*/
/*GraphD3Viewer*/
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

/*BrainStatsD3Viewer*/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
